<%# form_remote_tag :url => { :action => :index},  :update => "result" do %>
<%#= submit_tag "Analyze", :disable_with => "Please wait..." %>
<%# end %>
<style>
  table,th, td
  {
    border: 1px solid black;
  }
  .label {
    float: left; width: 130px;
  }
</style>


<script>
  jQuery(function($) {
    // create a convenient toggleLoading function
    var toggleLoading = function() { $("#loading").toggle() };

    $("#results_form")
    //.bind("ajax:loading",  toggleLoading)
    //.bind("ajax:complete", toggleLoading)
    .bind("ajax:success", function(event, data, status, xhr) {
      $("#info").html(data);
    });
  });
</script>

<div id="info">aaaaaa</div>

<%= form_tag '/results', :id=>'results_form',  :remote => true  do  %>
  NO <%= text_field_tag 'no', 2000 %>
  <%= submit_tag 'Load Data' %>
  <%=  check_box_tag 'test' %>
  <br>

  <fieldset style="width: 500px">
    <legend>Strefy</legend>

    <div>
      <span class="label">SET_LEFT_MIN </span>
      <span style="float: left; "> <%= select_tag 'set_left_min', options_for_select(['',0,1,2,3,4,5],1) %></span>
      <span class="label">SET_LEFT_MAX </span>
      <span style="float: left; "><%= select_tag 'set_left_max', options_for_select(['',0,1,2,3,4,5],4) %></span>
    </div>

    <div style="clear: left;">
      <span class="label">SET_RIGHT_MIN </span>
      <span style="float: left; "> <%= select_tag 'set_right_min', options_for_select(['',0,1,2,3,4,5],1) %></span>
      <span class="label">SET_RIGHT_MAX </span>
      <span style="float: left; "><%= select_tag 'set_right_max', options_for_select(['',0,1,2,3,4,5],4) %></span>
    </div>



    <div style="clear: left;">
      <span class="label">SET_UP </span>
      <span style="float: left; "> <%= select_tag 'set_up', options_for_select(['',0,1,2,3,4,5],4) %></span>
    </div>



    <div style="clear: left;">
      <span class="label">SET_DOWN </span>
      <span style="float: left; "><%= select_tag 'set_down', options_for_select(['',0,1,2,3,4,5],1) %></span>
    </div>
  </fieldset>

  <fieldset style="width: 500px">
    <legend>Zbior A, B, C, D</legend>
    <div>
      <span class="label">SET_A_MIN </span>
      <span style="float: left; "> <%= select_tag 'set_a_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_A_MAX </span>
      <span style="float: left; "><%= select_tag 'set_a_max', options_for_select(['',0,1,2,3,4,5],3) %></span>
    </div>

    <div style="clear: left;">
      <span class="label">SET_B_MIN </span>
      <span style="float: left; "><%= select_tag 'set_b_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_B_MAX </span>
      <span class="label"><%= select_tag 'set_b_max', options_for_select(['',0,1,2,3,4,5],3) %>
      </span>
    </div>
    <div style="clear: left;">
      <span class="label">SET_C_MIN </span>
      <span style="float: left; "><%= select_tag 'set_c_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_C_MAX </span>
      <span class="label"><%= select_tag 'set_c_max', options_for_select(['',0,1,2,3,4,5],3) %>
      </span>
    </div>
    <div style="clear: left;">
      <span class="label">SET_D_MIN </span>
      <span style="float: left; "><%= select_tag 'set_d_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_D_MAX </span>
      <span class="label"><%= select_tag 'set_d_max', options_for_select(['',0,1,2,3,4,5],3) %>
      </span>
    </div>
  </fieldset>

  <fieldset style="width: 500px">
    <legend>Zbior S, T, U, W, X, Y, Z</legend>

    <div style="clear: left;">
      <span class="label">SET_S_MIN </span>
      <span style="float: left; "><%= select_tag 'set_s_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_S_MAX </span>
      <span class="label"><%= select_tag 'set_s_max', options_for_select(['',0,1,2,3,4,5],3) %>
      </span>
    </div>


    <div style="clear: left;">
      <span class="label">SET_T_MIN </span>
      <span style="float: left; "><%= select_tag 'set_t_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_T_MAX </span>
      <span class="label"><%= select_tag 'set_t_max', options_for_select(['',0,1,2,3,4,5],3) %>
      </span>
    </div>

    <div style="clear: left;">
      <span class="label">SET_U_MIN </span>
      <span style="float: left; "><%= select_tag 'set_u_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_U_MAX </span>
      <span class="label"><%= select_tag 'set_u_max', options_for_select(['',0,1,2,3,4,5],3) %>
      </span>
    </div>

    <div style="clear: left;">
      <span class="label">SET_W_MIN </span>
      <span style="float: left; "><%= select_tag 'set_w_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_W_MAX </span>
      <span class="label"><%= select_tag 'set_w_max', options_for_select(['',0,1,2,3,4,5],3) %>
      </span>
    </div>

    <div style="clear: left;">
      <span class="label">SET_X_MIN </span>
      <span style="float: left; "><%= select_tag 'set_x_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_X_MAX </span>
      <span class="label"><%= select_tag 'set_x_max', options_for_select(['',0,1,2,3,4,5],3) %>
      </span>
    </div>

    <div style="clear: left;">
      <span class="label">SET_Y_MIN </span>
      <span style="float: left; "><%= select_tag 'set_y_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_Y_MAX </span>
      <span class="label"><%= select_tag 'set_y_max', options_for_select(['',0,1,2,3,4,5],3) %>
      </span>
    </div>

    <div style="clear: left;">
      <span class="label">SET_Z_MIN </span>
      <span style="float: left; "><%= select_tag 'set_z_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_Z_MAX </span>
      <span class="label"><%= select_tag 'set_z_max', options_for_select(['',0,1,2,3,4,5],3) %>
      </span>
    </div>
  </fieldset>

  <fieldset style="width: 500px">
    <legend>Zakresy</legend>
    <div style ="clear: left;">
      <span class="label">SET_1_21_MIN</span>
      <span style="float: left;"><%= select_tag 'set_1_21_min', options_for_select(['',0,1,2,3,4,5],1) %></span>
      <span class="label">SET_1_21_MAX</span>
      <span style="float: left;"><%= select_tag 'set_1_21_max', options_for_select(['',0,1,2,3,4,5],4) %></span>
    </div>

    <div style ="clear: left;">
      <span class="label">SET_22_42_MIN</span>
      <span style="float: left;"><%= select_tag 'set_22_42_min', options_for_select(['',0,1,2,3,4,5],1) %></span>
      <span class="label">SET_22_42_MAX</span>
      <span style="float: left;"><%= select_tag 'set_22_42_max', options_for_select(['',0,1,2,3,4,5],4) %></span>
    </div>

    <div style ="clear: left;">
      <span class="label">SET_1_7_MIN</span>
      <span style="float: left;"><%= select_tag 'set_1_7_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_1_7_MAX</span>
      <span style="float: left;"><%= select_tag 'set_1_7_max', options_for_select(['',0,1,2,3,4,5],4) %></span>
    </div>
    <div style ="clear: left;">
      <span class="label">SET_8_14_MIN</span>
      <span style="float: left;"><%= select_tag 'set_8_14_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_8_14_MAX</span>
      <span style="float: left;"><%= select_tag 'set_8_14_max', options_for_select(['',0,1,2,3,4,5],4) %></span>
    </div>
    <div style ="clear: left;">
      <span class="label">SET_15_21_MIN</span>
      <span style="float: left;"><%= select_tag 'set_15_21_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_15_21_MAX</span>
      <span style="float: left;"><%= select_tag 'set_15_21_max', options_for_select(['',0,1,2,3,4,5],4) %></span>
    </div>
    <div style ="clear: left;">
      <span class="label">SET_22_28_MIN</span>
      <span style="float: left;"><%= select_tag 'set_22_28_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_22_28_MAX</span>
      <span style="float: left;"><%= select_tag 'set_22_28_max', options_for_select(['',0,1,2,3,4,5],4) %></span>
    </div>
    <div style ="clear: left;">
      <span class="label">SET_29_36_MIN</span>
      <span style="float: left;"><%= select_tag 'set_29_36_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_29_36_MAX</span>
      <span style="float: left;"><%= select_tag 'set_29_36_max', options_for_select(['',0,1,2,3,4,5],4) %></span>
    </div>
    <div style ="clear: left;">
      <span class="label">SET_37_42_MIN</span>
      <span style="float: left;"><%= select_tag 'set_37_42_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_37_42_MAX</span>
      <span style="float: left;"><%= select_tag 'set_37_42_max', options_for_select(['',0,1,2,3,4,5],4) %></span>
    </div>

    <div style ="clear: left;">
      <span class="label">SET_1_14_MIN</span>
      <span style="float: left;"><%= select_tag 'set_1_14_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_1_14_MAX</span>
      <span style="float: left;"><%= select_tag 'set_1_14_max', options_for_select(['',0,1,2,3,4,5],4) %></span>
    </div>

    <div style ="clear: left;">
      <span class="label">SET_15_28_MIN</span>
      <span style="float: left;"><%= select_tag 'set_8_14_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_15_28_MAX</span>
      <span style="float: left;"><%= select_tag 'set_8_14_max', options_for_select(['',0,1,2,3,4,5],4) %></span>

    </div>

    <div style ="clear: left;">
      <span class="label">SET_29_42_MIN</span>
      <span style="float: left;"><%= select_tag 'set_29_42_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_29_42_MAX</span>
      <span style="float: left;"><%= select_tag 'set_29_42_max', options_for_select(['',0,1,2,3,4,5],4) %></span>
    </div>


    <div style ="clear: left;">
      <span class="label">SET_1_9_MIN</span>
      <span style="float: left;"><%= select_tag 'set_1_9_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_1_9_MAX</span>
      <span style="float: left;"><%= select_tag 'set_1_9_max', options_for_select(['',0,1,2,3,4,5],4) %></span>
    </div>


    <div style ="clear: left;">
      <span class="label">SET_10_19_MIN</span>
      <span style="float: left;"><%= select_tag 'set_10_19_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_10_19_MAX</span>
      <span style="float: left;"><%= select_tag 'set_10_19_max', options_for_select(['',0,1,2,3,4,5],4) %></span>
    </div>

    <div style ="clear: left;">
      <span class="label">SET_20_29_MIN</span>
      <span style="float: left;"><%= select_tag 'set_20_29_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_20_29_MAX</span>
      <span style="float: left;"><%= select_tag 'set_20_29_max', options_for_select(['',0,1,2,3,4,5],4) %></span>
    </div>

    <div style ="clear: left;">
      <span class="label">SET_30_39_MIN</span>
      <span style="float: left;"><%= select_tag 'set_30_39_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_30_39_MAX</span>
      <span style="float: left;"><%= select_tag 'set_30_39_max', options_for_select(['',0,1,2,3,4,5],4) %></span>
    </div>

    <div style ="clear: left;">
      <span class="label">SET_40_42_MIN</span>
      <span style="float: left;"><%= select_tag 'set_40_42_min', options_for_select(['',0,1,2,3,4,5],0) %></span>
      <span class="label">SET_40_42_MAX</span>
      <span style="float: left;"><%= select_tag 'set_40_42_max', options_for_select(['',0,1,2,3,4,5],4) %></span>
    </div>
  </fieldset>

  <fieldset style="width: 500px">
    <legend>Koncowki</legend>
    <div style ="clear: left;">
      <span class="label">NO_END_0</span>
      <span style="float: left;"><%= select_tag 'no_end_0', options_for_select(['',0,1,2,3,4,5],3) %></span>
      <span class="label">NO_END_1</span>
      <span style="float: left;"><%= select_tag 'no_end_1', options_for_select(['',0,1,2,3,4,5],3) %></span>
      <span class="label">NO_END_2</span>
      <span style="float: left;"><%= select_tag 'no_end_2', options_for_select(['',0,1,2,3,4,5],3) %></span>
      <span class="label">NO_END_3</span>
      <span style="float: left;"><%= select_tag 'no_end_3', options_for_select(['',0,1,2,3,4,5],3) %></span>
      <span class="label">NO_END_4</span>
      <span style="float: left;"><%= select_tag 'no_end_4', options_for_select(['',0,1,2,3,4,5],3) %></span>

      <span class="label">NO_END_5</span>
      <span style="float: left;"><%= select_tag 'no_end_5', options_for_select(['',0,1,2,3,4,5],3) %></span>
      <span class="label">NO_END_6</span>
      <span style="float: left;">  <%= select_tag 'no_end_6', options_for_select(['',0,1,2,3,4,5],3) %></span>
      <span class="label">NO_END_7</span>
      <span style="float: left;"><%= select_tag 'no_end_7', options_for_select(['',0,1,2,3,4,5],3) %></span>
      <span class="label">NO_END_8</span>
      <span style="float: left;"><%= select_tag 'no_end_8', options_for_select(['',0,1,2,3,4,5],3) %></span>
      <span class="label">NO_END_9</span>
      <span style="float: left;"><%= select_tag 'no_end_9', options_for_select(['',0,1,2,3,4,5],3) %></span>
    </div>
  </fieldset>


  <fieldset style="width: 500px">
    <legend>Podzielnosc</legend>
    <div style ="clear: left;">
      <span class="label">D2</span>
      <span style="float: left;"><%= select_tag 'd2', options_for_select(['',0,1,2,3,4,5],5) %></span>
      <span class="label">D3</span>
      <span style="float: left;"><%= select_tag 'd3', options_for_select(['',0,1,2,3,4,5],4) %></span>
      <span class="label">D4</span>
      <span style="float: left;"><%= select_tag 'd4', options_for_select(['',0,1,2,3,4,5],4) %></span>
      <span class="label">D5</span>
      <span style="float: left;"><%= select_tag 'd5', options_for_select(['',0,1,2,3,4,5],4) %></span>
      <span class="label">D6</span>
      <span style="float: left;"><%= select_tag 'd6', options_for_select(['',0,1,2,3,4,5],4) %></span>
      <span class="label">D7</span>
      <span style="float: left;"><%= select_tag 'd7', options_for_select(['',0,1,2,3,4,5],4) %></span>
      <span class="label">D8</span>
      <span style="float: left;"><%= select_tag 'd8', options_for_select(['',0,1,2,3,4,5],4) %></span>
      <span class="label">D9</span>
      <span style="float: left;"><%= select_tag 'd9', options_for_select(['',0,1,2,3,4,5],4) %></span>
    </div>
  </fieldset>

  <fieldset style="width: 500px">
    <legend>Parzyste - Nieparzyste</legend>
    <div style ="clear: left;">
      <span class="label">EVEN_MIN</span>
      <span style="float: left;"> <%= select_tag 'even_min', options_for_select(['',0,1,2,3,4,5],1) %></span>
      <span class="label">EVEN_MAX</span>
      <span style="float: left;"><%= select_tag 'even_max', options_for_select(['',0,1,2,3,4,5],4) %></span>
    </div>
    <div style ="clear: left;">
      <span class="label">ODD_MIN</span>
      <span style="float: left;"> <%= select_tag 'odd_min', options_for_select(['',0,1,2,3,4,5],1) %></span>
      <span class="label">ODD_MAX</span>
      <span style="float: left;"><%= select_tag 'odd_max', options_for_select(['',0,1,2,3,4,5],4) %></span>
    </div>
  </fieldset>
  SET_PRIME<%= select_tag 'set_prime', options_for_select(['',0,1,2,3,4,5]) %>

  <fieldset style="width: 500px">
    <legend>Suma</legend>
    <div style ="clear: left;">
      <span class="label">OD - DO</span>
      <span style="float: left;"><%= text_field_tag 'sum_min', 50 %></span>
      <span style="float: left;"><%= text_field_tag 'sum_max', 165 %></span>
    </div>
  </fieldset>

  <% set_1_42 = (1..42).to_a.unshift('')
  set_1_20 = (1..20).to_a.unshift('') %>
  <fieldset style="width: 500px">
    <legend>Najdluzsza przerwa</legend>
    <div style ="clear: left;">
      <span class="label">Zawiera 1</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_break_1', options_for_select(set_1_42,24) %></span>
      <span class="label">Zawiera 2</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_break_2', options_for_select(set_1_42,35) %></span>
    </div>
    <div style ="clear: left;">
      <span class="label">Zawiera 3</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_break_3', options_for_select(set_1_42,39) %></span>
      <span class="label">Zawiera 4</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_break_4', options_for_select(set_1_42,40) %></span>
    </div>
    <div style ="clear: left;">
      <span class="label">Nie Zawiera 2</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_break_no_2', options_for_select(set_1_42,2) %></span>
      <span class="label">Nie Zawiera 3</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_break_no_3', options_for_select(set_1_42,4) %></span>
    </div>
    <div style ="clear: left;">
      <span class="label">Nie Zawiera 4</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_break_no_4', options_for_select(set_1_42,7) %></span>
      <span class="label">Nie Zawiera 5</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_break_no_5', options_for_select(set_1_42,19) %></span>
    </div>
  </fieldset>

  <fieldset style="width: 500px">
    <legend>Powtarzajace sie z ostatnich losowan</legend>
    <div style ="clear: left;">
      <span class="label">Zawiera 1</span>
      <span style="float: left;"> <%= select_tag 'no_of_numers_in_last_1', options_for_select(set_1_20,7) %></span>
      <span class="label">Zawiera 2</span>
      <span style="float: left;"> <%= select_tag 'no_of_numers_in_last_2', options_for_select(set_1_20,14) %></span>
    </div>
    <div style ="clear: left;">
      <span class="label">Zawiera 3</span>
      <span style="float: left;"> <%= select_tag 'no_of_numers_in_last_3', options_for_select(set_1_20,18) %></span>
      <span class="label">Nie zawiera 5</span>
      <span style="float: left;"> <%= select_tag 'no_of_numers_in_last_no_5', options_for_select(set_1_20,3) %></span>
    </div>
  </fieldset>

  <fieldset style="width: 500px">
    <legend>XPowtarzajace sie z ostatniego losowania</legend>
    <div style ="clear: left;">
      <span class="label">Zawiera 1</span>
      <span style="float: left;"> <%= select_tag 'no_of_repeat_last_1', options_for_select(set_1_20,7) %></span>
      <span class="label">Zawiera 2</span>
      <span style="float: left;"> <%= select_tag 'no_of_repeat_last_2', options_for_select(set_1_20,14) %></span>
    </div>
  </fieldset>


  <fieldset style="width: 500px">
    <legend>Najczesciej losowane w ostatnich 100 losowaniach</legend>
    <div style ="clear: left;">
      <span class="label">Zawiera 1</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_often_100_1', options_for_select(set_1_42,19) %></span>
      <span class="label">Zawiera 2</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_often_100_2', options_for_select(set_1_42,29) %></span>
    </div>
    <div style ="clear: left;">
      <span class="label">Zawiera 3</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_often_100_3', options_for_select(set_1_42,36) %></span>
      <span class="label">Zawiera 4</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_often_100_4', options_for_select(set_1_42,38) %></span>
    </div>
    <div style ="clear: left;">
      <span class="label">Nie Zawiera 2</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_often_100_no_2', options_for_select(set_1_42,2) %></span>
      <span class="label">Nie Zawiera 3</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_often_100_no_3', options_for_select(set_1_42,3) %></span>
    </div>
    <div style ="clear: left;">
      <span class="label">Nie Zawiera 4</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_often_100_no_4', options_for_select(set_1_42,10) %></span>
      <span class="label">Nie Zawiera 5</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_often_100_no_5', options_for_select(set_1_42,16) %></span>
    </div>
  </fieldset>


  <fieldset style="width: 500px">
    <legend>Najrzadziej losowane w ostatnich 100 losowaniach</legend>
    <div style ="clear: left;">
      <span class="label">Zawiera 1</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_rare_1', options_for_select(set_1_42,26) %></span>
      <span class="label">Zawiera 2</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_rare_2', options_for_select(set_1_42,35) %></span>
    </div>
    <div style ="clear: left;">
      <span class="label">Zawiera 3</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_rare_3', options_for_select(set_1_42,36) %></span>
      <span class="label">Zawiera 4</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_rare_4', options_for_select(set_1_42,40) %></span>
    </div>
    <div style ="clear: left;">
      <span class="label">Nie Zawiera 2</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_rare_no_2', options_for_select(set_1_42,3) %></span>
      <span class="label">Nie Zawiera 3</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_rare_no_3', options_for_select(set_1_42,6) %></span>
    </div>
    <div style ="clear: left;">
      <span class="label">Nie Zawiera 4</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_rare_no_4', options_for_select(set_1_42,12) %></span>
      <span class="label">Nie Zawiera 5</span>
      <span style="float: left;"> <%= select_tag 'no_of_most_rare_no_5', options_for_select(set_1_42,23) %></span>
    </div>
  </fieldset>


<% end %>

<table style="   border: 1px solid black;border-collapse: collapse; ">
  <tr>
    <%
    ['Nr', 'Data', 'n1', 'n2', 'n3', 'n4', 'n5', 'UP', 'DOWN', 'LEFT', 'RIGHT', 'ID', 'SUM', 'SET_1_21', 'SET_22_42', 'SET_A', 'SET_B', 'SET_C', 'SET_D',
      'SET_S', 'SET_T', 'SET_U', 'SET_W', 'SET_X', 'SET_Y', 'SET_Z',
      'MB_2', 'MB_4', 'MB_7', 'MB_19','MB_24', 'MB_35', 'MB_39', 'MB_40'].each do |col| %>
      <td><%= col  %></td>
    <% end %>
  </tr>
  <% @results.each do |r| %>
    <tr>
      <% [:no, :date, :n1, :n2, :n3, :n4, :n5, :set_up, :set_down, :set_left, :set_right, :combination_id, :sum,
        :set_1_21, :set_22_42, :set_a, :set_b, :set_c, :set_d,
        :set_s, :set_t, :set_u, :set_w, :set_x, :set_y, :set_z].each do |col| %>
        <td><%= r.send(col) %></td>
      <% end %>
      <% [:m2, :m4, :m7, :m19, :m24, :m35, :m39, :m40].each do |mb| %>
        <td><%= r.most_break.send(mb) unless r.most_break.nil? %></td>
      <% end %>
    </tr>
  <% end %>
</table>










